<h1>Sessions#new</h1>

<h2>Please SignIn</h2>

<%= form_tag signin_path do %>
   <%= label_tag :first_name%>
   <%= text_field_tag :first_name %><br>
   <br>
   <%= label_tag :last_name%>
   <%= text_field_tag :last_name %><br>
   <br>
   <%= label_tag :username%>
   <%= text_field_tag :username %><br>
   <br>
   <%= label_tag :password%>
   <%= password_field_tag :password%><br>
   <br>
   <%= submit_tag "Start Shopping!"%>
<% end %>
