<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
  <% end %>

<h3>Thanks For Coming Back!</h3>
<h4>Please SignIn</h4>

<%= form_for(@customer, url: signin_path) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.submit "Sign In" %>
<% end %>
