<h1>Purchases NEW View Test</h1>

<h4> So you'd like to purchase a GEET? </h4>
<h5> To purchase

  <%= "#{@instrument.year_made}" " #{@instrument.make}" " #{@instrument.name}" " #{@instrument.model}" " in " "#{@instrument.color}"%><h5>
  <h5> Please provide select your payment type(s)</h5>

  <%= check_box_tag "credit", "no",false, class: "credit" %>
  Credit
  <br>
  <%= check_box_tag "debit", "no",false, class: "name" %>
  Debit
  <br>
  <%= check_box_tag "cash", "no",false, class: "name" %>
  Cash
  <br>
  <%= check_box_tag "check", "no",false, class: "name" %>
  Check
  <br>
  <br>
    <%= link_to "Finalize Purchase", instrument_purchases_path(@instrument)%>
  <br>
  <br>
  <br>
  <%= link_to "Log Out", logout_path %>
