<h1>MusicStore#show View</h1>

<h3>Music Store: <%= @music_store.name %> </h3>
<p> Music Store Address: <%= @music_store.address %> </p>
<p>Instruments In Stock At <%= @music_store.name %> </p>
<ul>
  <% @store_geets.each do |instrument| %>
    <li>
      <%= instrument.instrument_type %><br>
      <%= instrument.year_made %><br>
      <%= instrument.make %><br>
      <%= instrument.name %><br>
      <%= instrument.model %><br>
      <%= instrument.color %><br>
      <%= link_to "Purchase Instrument", new_instrument_purchase_path(instrument) %>
      <br>
      <br>
    </li>
    </li>
  <% end %>
  <%= link_to "Log Out", logout_path %>
</ul>
