<h1> instruments#show <h1>

<p> Instrument Type: <%= @instrument.instrument_type %> </p>
<p> Instrument Name: <%= @instrument.name %> </p>
<p> Instrument Model: <%= @instrument.model %> </p>
<p> Instrument Color: <%= @instrument.color %> </p>
<p> Instrument Year Made: <%= @instrument.year_made %> </p>
<p> Instrument Location: <%= link_to @instrument.music_store.name, music_store_path %> </p>
<br>
